@model CapaPresentacion.ViewModels.FileUploadViewModel

@using (Html.BeginCollectionItem("Documentos"))
{
    @Html.HiddenFor(m => m.Informacion.IdDocumento)

    <label for="@Html.IdFor(m => m.Contenido)">
        @Model.Informacion.NombreDocumento
    </label>
    <input type="file" name="@Html.NameFor(m => m.Contenido)" accept="application/pdf" />
}