@using CapaPresentacion.Controllers;
@{
    ViewBag.Title = "ControladorCentro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var model = Model;
}


<p>@Html.ActionLink("REGISTRAR ESTUDIANTE", nameof(CentrosEducativosController.RegistroEstudiante), "CentrosEducativos", null, new { @class = "btn btn-custom" })</p>
<p>@Html.ActionLink("VER ESTUDIANTES REGISTRADOS", nameof(CentrosEducativosController.EstudiantesCentro), "CentrosEducativos", null, new { @class = "btn btn-custom" })</p>
<p>@Html.ActionLink("EDITAR INFORMACIÓN CENTRO", nameof(CentrosEducativosController.EdicionCentro), "CentrosEducativos", null, new { @class = "btn btn-custom" })</p>
<button type="button" class="btn btn-custom" data-toggle="modal" data-target="#cambioContrasenaModal">
    CAMBIAR CONTRASEÑA
</button>

@Html.Partial("_CambioContrasenhaModal")

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#cambioContrasenaModal').on('show.bs.modal', function () {
                $(this).find('input[type=password]').val('');
            });
        });
    </script>
}






