@using CapaPresentacion.Controllers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var estudiantes = Model;
}
<style>
    .custab {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5% 0;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
    }

        .custab:hover {
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
        }
</style>
<table class="table">
    <thead>
        <tr>
            <th>Nombre Estudiante</th>
            <th>Validado</th>
            <th>Ver</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <!-- Lista de estudiantes procedentes del modelo-->
        @foreach (var e in estudiantes)
        {
            <tr>
                <td>@e.NombreCompleto</td>
                <td>
                    @if (e.Validado == true)
                    {
                        <img src="~/CapaPresentacion/Images/green-check-mark.png" alt="Validado" />
                    }
                    else if (e.Validado == false)
                    {
                        <img src="~/CapaPresentacion/Images/red-cross.png" alt="No validado" />
                    }
                    else
                    {
                        <a>Pendiente</a>
                    }
                </td>
                <td>@Html.ActionLink("VER", nameof(CentrosEducativosController.InfoEstudiante), "CentrosEducativos", new { idE = e.IdEstudiante }, new { @class = "btn btn-custom" })</td>
                <td>@Html.ActionLink("EDITAR", nameof(CentrosEducativosController.EdicionEstudiante), "CentrosEducativos", new { idE = e.IdEstudiante }, new { @class = "btn btn-custom" })</td>
            </tr>
        }
    </tbody>
</table>
<div class="form-group">
    <p>@Html.ActionLink("Volver", nameof(CentrosEducativosController.ControladorCentro), "CentrosEducativos", null, new { @class = "btn btn-custom" })</p>
</div>

