@using CapaPresentacion.Controllers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Iniciar sesión en Centro Educativo"; // Establecer el título de la página
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title> <!-- Usar el ViewBag.Title como título de la página -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" /> <!-- Bootstrap CSS -->
</head>
<body>
    <!-- Contenido de la página -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Introduzca su usuario de Centro</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm(nameof(CentrosEducativosController.LoginCE), "CentrosEducativos", FormMethod.Post))
                        {
                            <fieldset>
                                <div class="form-group">
                                    @Html.TextBox("correo", null, new { @class = "form-control", placeholder = "Correo", @type = "email" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBox("contrasenha", null, new { @class = "form-control", placeholder = "Contrasenha", @type = "password" })
                                </div>
                                <input class="btn btn-lg btn-custom btn-block" type="submit" value="Iniciar Sesión">
                            </fieldset>
                        }
                        @if (!String.IsNullOrEmpty(ViewData["Mensaje"] as string))
                        {
                            <div class="alert alert-danger">
                                @Html.Raw(ViewData["Mensaje"])
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
