@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home Centro Educativo";
}
<style>
    /* Personalización de los botones */
    .btn-lg-square {
        width: 250px; /* Ancho */
        height: 250px; /* Alto */
        font-size: 24px; /* Tamaño de fuente */
        border-radius: 30px; /* Bordes redondeados */
        text-align: center; /* Centrar texto horizontalmente */
        line-height: 250px; /* Centrar texto verticalmente */
        font-weight: bold; /* Texto en negrita */
        background-color: #005c64; /* Color de fondo */
        color: #fff; /* Color del texto */
        border-color: #005c64; /* Color del borde */
    }
</style>

<main>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                @Html.ActionLink("REGISTRAR ESTUDIANTE", "RegistroEstudiante", "Home", null, new { @class = "btn btn-info btn-lg-square" })
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                @Html.ActionLink("VER ESTUDIANTES REGISTRADOS", "EstudiantesCentro", "Home", null, new { @class = "btn btn-info btn-lg-square" })
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                @Html.ActionLink("EDITAR INFROMACIÓN CENTRO", "InfoCE", "Home", null, new { @class = "btn btn-info btn-lg-square" })
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                @Html.ActionLink("CAMBIAR CONTRASEÑA", "CambioContrasenha", "Home", null, new { @class = "btn btn-info btn-lg-square" })
            </div>
        </div>
    </div>
</main>


