@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var idCentro = (int)Session["centro educativo"];
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<form method="post" action="@Url.Action("RegistrarEstudiante", "CentrosEducativos")">
    <div class="form-group">
        <label for="dniEstudiante">DNI</label>
        <input id="dniEstudiante" name="dniEstudiante" type="text" required="required" class="form-control">
    </div>
    <div class="form-group">
        <label for="nombreEstudiante">Nombre</label>
        <input id="nombreEstudiante" name="nombreEstudiante" type="text" required="required" class="form-control">
    </div>
    <div class="form-group">
        <label for="Ap1Estudiante">Primer Apellido</label>
        <input id="Ap1Estudiante" name="Ap1Estudiante" type="text" required="required" class="form-control">
    </div>
    <div class="form-group">
        <label for="Ap2Estudiante">Segundo Apellido (Opcional)</label>
        <input id="Ap2Estudiante" name="Ap2Estudiante" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="nombreCompletoT1">Nombre Completo Tutor 1</label>
        <input id="nombreCompletoT1" name="nombreCompletoT1" type="text" required="required" class="form-control">
    </div>
    <div class="form-group">
        <label for="telefonoT1">Teléfono Tutor 1</label>
        <input id="telefonoT1" name="telefonoT1" type="text" required="required" class="form-control">
    </div>
    <div class="form-group">
        <label for="nombreCompletoT2">Nombre Completo Tutor 2</label>
        <input id="nombreCompletoT2" name="nombreCompletoT2" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="telefonoT2">Teléfono Tutor 2</label>
        <input id="telefonoT2" name="telefonoT2" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Convocatoria</label>
        <div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="convocatoria" id="ordinaria" value="ordinaria" checked>
                <label class="form-check-label" for="ordinaria">
                    Ordinaria
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="convocatoria" id="extraordinaria" value="extraordinaria">
                <label class="form-check-label" for="extraordinaria">
                    Extraordinaria
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="observacion">Observaciones</label>
        <textarea id="observacion" name="observacion" cols="40" rows="6" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <button name="submit" type="submit" class="btn btn-primary">Registrar</button>
    </div>
    <input type="hidden" name="idCentro" value="@idCentro" />
</form>
